<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/1857afdc-71a8-4745-9fdb-30ad43ed7698/resourceGroups/Slider/providers/Microsoft.Web/sites/slider-api</ResourceId>
    <ResourceGroup>Slider</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://slider-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9e9ea5d6-5c95-4f29-b666-76bd97aab1a0</ProjectGuid>
    <PublishUrl>https://slider-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$slider-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>